.Container {
    /* background-color: #dbe8ee; */
display: flex;
flex-direction: column;
align-items: center;
padding-top: 100px;
}

.Feedback__title {
font-size: 35px;
margin-bottom: 100px;
}

.Statistics__title {
font-size: 35px;
margin-bottom: 50px;
}